<ion-header>
  <ion-toolbar>
    <ion-title>Tannder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>Select the prettier tree!</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-sm="6">
        <app-voting-tree
          class="tree left"
          [ngClass]="{ 'fade': fade, 'center': isWinnerLeft, 'down': isWinnerRight }"
          [tree]="treeLeft"
          (voteEvent)="onLeft()"
        >
        </app-voting-tree>
      </ion-col>
      <ion-col size="6" size-sm="6">
        <app-voting-tree
          class="tree right"
          [ngClass]="{ 'fade': fade, 'center': isWinnerRight, 'down': isWinnerLeft }"
          [tree]="treeRight"
          (voteEvent)="onRight()"
        >
        </app-voting-tree>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
