<ion-header>
  <ion-toolbar>
    <ion-title>Tannder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <app-leaderboard #leaderboard></app-leaderboard>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>Select the prettier tree!</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-sm="6">
        <app-voting-tree
          class="tree left"
          [ngClass]="{ 'fade': fade, 'center': isWinnerLeft, 'down': isWinnerRight }"
          [tree]="treeLeft"
          (voteEvent)="onLeft()"
        >
        </app-voting-tree>
      </ion-col>
      <ion-col size="6" size-sm="6">
        <app-voting-tree
          class="tree right"
          [ngClass]="{ 'fade': fade, 'center': isWinnerRight, 'down': isWinnerLeft }"
          [tree]="treeRight"
          (voteEvent)="onRight()"
        >
        </app-voting-tree>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="openLeaderboard()">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/map" routerDirection="forward">
        <ion-icon name="map"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
