<ion-header>
  <ion-toolbar>
    <ion-title>Upload</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="closeModal()"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <img
      [src]="'data:image/jpeg;base64,' + passedImage.base64String"
      class="preview"
      alt="Image"
      *ngIf="passedImage"
    />
    <ion-card-header>
      <ion-card-title>Preview</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (submit)="uploadItem()">
        <ion-item lines="full">
          <ion-label position="floating">Name your Tree!</ion-label>
          <ion-input
            [(ngModel)]="treeNameInput"
            name="name-input"
            type="text"
            required
          ></ion-input>
        </ion-item>
        <ion-button type="submit" color="danger" expand="block">
          Submit
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<!--
  TODO:
   - upload button: on click send base64 to api
   - pass image to modal either as Uri/blob or base64
   - embed preview of blob or base64
-->
