<ion-header>
  <ion-toolbar>
    <ion-title>upload</ion-title>
    <ion-buttons end>
      <ion-button icon-only (click)="closeModal()"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>preview image</p>
  <img
    [src]="'data:image/jpeg;base64,' + passedImage.base64String"
    width="100%"
    height="100%"
    alt="Image"
    *ngIf="passedImage"
  />
  <ion-input>name:</ion-input>
  <ion-button>upload</ion-button>
</ion-content>

<!--
  TODO: 
   - upload button: on click send base64 to api
   - pass image to modal either as Uri/blob or base64
   - embed preview of blob or base64
-->
