<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Menu </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Menu</strong>
    <ion-button routerLink="/map" routerDirection="forward">
      <ion-icon slot="start" name="map"></ion-icon>
      Map
    </ion-button>
    <ion-button routerLink="/leaderboard" routerDirection="forward">
      <ion-icon slot="start" name="list"></ion-icon>
      Treederboard
    </ion-button>

    <!--
        <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
        >
      -->
  </div>
</ion-content>
