.card {
  width: calc(100% - 20px);
  --background: url("/assets/white-rose.webp") no-repeat center/cover fixed;
}

@media (prefers-color-scheme: dark) {
  .card {
    --background: url("/assets/black-rose.webp") no-repeat center/cover fixed;
  }
}

.card-img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
