.card {
  min-height: 500px;
  margin: 0;
  --background: url("/assets/white-rose.webp") no-repeat center/cover fixed;
}

@media (prefers-color-scheme: dark) {
  .card {
    --background: url("/assets/black-rose.webp") no-repeat center/cover fixed;
  }
}
