<ion-header>
  <ion-toolbar>
    <ion-title>Hello</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-align-items-center ion-justify-content-center"
      style="height: 100%"
    >
      <ion-col size="12" size-md="6" size-xl="4">
        <div>
          <ion-card class="card">
            <ion-card-header>
              <ion-card-title>Hohoho!</ion-card-title>
              <ion-card-subtitle>
                Welcome to Tannder - The Face Mash for Trees?
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <form (submit)="onLogin()">
                <ion-item lines="full" class="input-item">
                  <ion-label position="floating">What is your name?</ion-label>
                  <ion-input
                    [(ngModel)]="name"
                    placeholder="Hans Peter"
                    name="name-input"
                    type="text"
                    required
                  ></ion-input>
                </ion-item>
              </form>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="onLogin()">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
