<ion-header translucent>
  <ion-toolbar>
    <ion-title>Leaderboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let tree of trees; let i=index">
    <ion-card class="card">
      <img src="{{host}}/trees/image/{{tree.id}}" class="card-img" />
      <ion-card-header>
        <ion-card-title>{{i}}. {{tree.treeName}}</ion-card-title>
        <ion-card-subtitle>From {{tree.userName}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content> Elo: {{tree.eloRating}} </ion-card-content>
    </ion-card>
  </div>
</ion-content>
